.RData
/.ccls-cache/
/.gdb_history
/compile_commands.json
evil_0.0.0.9000.tar.gz
evil.Rcheck/tests/testthat/testthat-problems.rds
evil.Rcheck/tests/testthat/test-util.R
evil.Rcheck/tests/testthat/test-trace-eval.R
evil.Rcheck/tests/testthat/test-normalization.R
evil.Rcheck/tests/testthat/test-eval-wrapping.R
evil.Rcheck/tests/testthat/helper-trace-eval.R
evil.Rcheck/tests/testthat.Rout.fail
evil.Rcheck/tests/testthat.R
evil.Rcheck/tests/startup.Rs
evil.Rcheck/Rdlatex.log
evil.Rcheck/evil/R/evil.rdx
evil.Rcheck/evil/R/evil.rdb
evil.Rcheck/evil/R/evil
evil.Rcheck/evil/NAMESPACE
evil.Rcheck/evil/Meta/Rd.rds
evil.Rcheck/evil/Meta/package.rds
evil.Rcheck/evil/Meta/nsInfo.rds
evil.Rcheck/evil/Meta/links.rds
evil.Rcheck/evil/Meta/hsearch.rds
evil.Rcheck/evil/Meta/features.rds
evil.Rcheck/evil/LICENSE
evil.Rcheck/evil/libs/symbols.rds
evil.Rcheck/evil/libs/evil.so
evil.Rcheck/evil/html/R.css
evil.Rcheck/evil/html/00Index.html
evil.Rcheck/evil/help/paths.rds
evil.Rcheck/evil/help/evil.rdx
evil.Rcheck/evil/help/evil.rdb
evil.Rcheck/evil/help/AnIndex
evil.Rcheck/evil/help/aliases.rds
evil.Rcheck/evil/DESCRIPTION
evil.Rcheck/evil-manual.pdf
evil.Rcheck/evil-manual.log
evil.Rcheck/00install.out
evil.Rcheck/00check.log
evil.Rcheck/00_pkg_src/evil/tests/testthat/test-util.R
evil.Rcheck/00_pkg_src/evil/tests/testthat/test-trace-eval.R
evil.Rcheck/00_pkg_src/evil/tests/testthat/test-normalization.R
evil.Rcheck/00_pkg_src/evil/tests/testthat/test-eval-wrapping.R
evil.Rcheck/00_pkg_src/evil/tests/testthat/helper-trace-eval.R
evil.Rcheck/00_pkg_src/evil/tests/testthat.R
evil.Rcheck/00_pkg_src/evil/src/WritesTable.h
evil.Rcheck/00_pkg_src/evil/src/TracerState.h
evil.Rcheck/00_pkg_src/evil/src/Table.h
evil.Rcheck/00_pkg_src/evil/src/symbols.rds
evil.Rcheck/00_pkg_src/evil/src/SideEffectAnalysis.h
evil.Rcheck/00_pkg_src/evil/src/ReflectionTable.h
evil.Rcheck/00_pkg_src/evil/src/ReflectionAnalysis.h
evil.Rcheck/00_pkg_src/evil/src/ReadsTable.h
evil.Rcheck/00_pkg_src/evil/src/r_utilities.o
evil.Rcheck/00_pkg_src/evil/src/r_utilities.h
evil.Rcheck/00_pkg_src/evil/src/r_utilities.cpp
evil.Rcheck/00_pkg_src/evil/src/r_init.h
evil.Rcheck/00_pkg_src/evil/src/r_data.h
evil.Rcheck/00_pkg_src/evil/src/r_callbacks.o
evil.Rcheck/00_pkg_src/evil/src/r_callbacks.h
evil.Rcheck/00_pkg_src/evil/src/r_callbacks.cpp
evil.Rcheck/00_pkg_src/evil/src/normalization.o
evil.Rcheck/00_pkg_src/evil/src/normalization.h
evil.Rcheck/00_pkg_src/evil/src/normalization.cpp
evil.Rcheck/00_pkg_src/evil/src/init.o
evil.Rcheck/00_pkg_src/evil/src/init.c
evil.Rcheck/00_pkg_src/evil/src/evil.so
evil.Rcheck/00_pkg_src/evil/src/Event.o
evil.Rcheck/00_pkg_src/evil/src/Event.h
evil.Rcheck/00_pkg_src/evil/src/Event.cpp
evil.Rcheck/00_pkg_src/evil/src/data.o
evil.Rcheck/00_pkg_src/evil/src/data.h
evil.Rcheck/00_pkg_src/evil/src/data.cpp
evil.Rcheck/00_pkg_src/evil/src/CodeTable.h
evil.Rcheck/00_pkg_src/evil/src/CodeAnalysis.h
evil.Rcheck/00_pkg_src/evil/src/callbacks.o
evil.Rcheck/00_pkg_src/evil/src/callbacks.h
evil.Rcheck/00_pkg_src/evil/src/callbacks.cpp
evil.Rcheck/00_pkg_src/evil/src/Analysis.o
evil.Rcheck/00_pkg_src/evil/src/Analysis.h
evil.Rcheck/00_pkg_src/evil/src/Analysis.cpp
evil.Rcheck/00_pkg_src/evil/R/zzz.R
evil.Rcheck/00_pkg_src/evil/R/util.R
evil.Rcheck/00_pkg_src/evil/R/tracer.R
evil.Rcheck/00_pkg_src/evil/R/trace.R
evil.Rcheck/00_pkg_src/evil/R/normalization.R
evil.Rcheck/00_pkg_src/evil/R/evil.R
evil.Rcheck/00_pkg_src/evil/R/eval-wrapping.R
evil.Rcheck/00_pkg_src/evil/R/calls.R
evil.Rcheck/00_pkg_src/evil/NAMESPACE
evil.Rcheck/00_pkg_src/evil/Makefile
evil.Rcheck/00_pkg_src/evil/LICENSE
evil.Rcheck/00_pkg_src/evil/evil_0.0.0.9000.tar.gz
evil.Rcheck/00_pkg_src/evil/DESCRIPTION
